h1{
  color: #000000;
  font-size: 45px;
  line-height: 40px;
}

i{
  font-size: 24px;
}

h2{
  color: #75B7E0;
  font-size: 24px;
  font-weight: light;
}

body{
  font-family: 'Open Sans', sans-serif;
  padding: 40px 20px 10px 100px;
}

@media only screen and (max-width: 600px) {
  body{
    padding: 10px 10px 10px 10px;
  }
}

p{
  flex-wrap: wrap;
  color: #003459;
}

section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  overflow: hidden;
  width: 100%;
}

section2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  overflow: hidden;
  width: 100%;
}

section1{
  float: left;
  width: 90%;
}

section3{
  float: left;
  width: 95%;
}
section4{
  float: left;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  section{
    grid-template-columns: repeat(1, 1fr);
  }
  section1{
    float: left;
    width: 100%;
  }
  section2{
    float: left;
    margin: 10px 0px 0px 0px;
    width: 120%;
  }
  section3{
    float: left;
    margin: 0px 0px 0px 0px;
    width: 95%;

  }
  section4{
    float: left;
    margin: 0px 0px 0px 0px;
    width: 70%;

  }
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
  background: #BEBFC0;
  padding: 10px 20px 10px 20px;
  margin: 5px 0px 0px 0px;
  border: none;
}

button:hover {
  background: #009CD1;
  border: none;
  cursor: pointer;
}

button:focus {
  outline:0;
}

#outfit{
  padding: 10px 80px 10px 80px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #009CD1;
    cursor: pointer;
}

/* selected link */
a:active {
    color: #009CD1;
}

footer{
  font-family: 'Open Sans', sans-serif;
  color: #555555;
  font-size: 12px;
  margin-top: 40px;
}
