h1{
  color: #000000;
  font-size: 45px;
  line-height: 40px;
}

i{
  font-size: 24px;
}

h2{
  color: #75B7E0;
  font-size: 24px;
  font-weight: light;
}

body{
  font-family: 'DM Sans', sans-serif;
  padding: 20px 20px 10px 100px;
}

@media only screen and (max-width: 600px) {
  body{
    padding: 10px 10px 10px 10px;
  }
}

p{
  flex-wrap: wrap;
  color: #003459;
}

/* Buttons + Clothes */
section{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2px;
  grid-auto-rows: minmax(100px, auto);
  overflow: hidden;
  width: 100%;
}
/* Buttons*/
section1{
  float: left;
  width: 60%;
}
/* Contains 2 sections, with all clothes */
section2{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(50px);
  overflow: hidden;
  width: 90%;
}

/* clothing sections*/
section3{
  float: left;
  width: 90%;
}
/* Accessory + jacket + shoes */
section4{
  float: left;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  section{
    grid-template-columns: repeat(1, 1fr);
  }
  section1{
    float: left;
    width: 100%;
  }
  section2{
    float: left;
    margin: 10px 0px 0px 0px;
    width: 120%;
  }
  section3{
    float: left;
    margin: 0px 0px 0px 0px;
    width: 95%;

  }
  section4{
    float: left;
    margin: 0px 0px 0px 0px;
    width: 70%;
  }
}

img {
    max-width: 100%;
    max-height: 100%;
}

button {
  font-family: 'DM Sans', sans-serif;
  border-radius: 8px;
  color: #ffb3e9;
  background-color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px 0px 0px 0px;
  border: 2px solid #ffbaeb;
  white-space: nowrap;
}

button:hover {
  background: ##ffb3e9;
  border: 2px solid #de268e;
  color: #de268e;
  cursor: pointer;
}

button:focus {
  outline:0;
}

#outfit{
  padding: 10px 80px 10px 80px;
  font-size: 18px;
}
#options{
  font-size: 14px;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #de268e;
    cursor: pointer;
}

/* selected link */
a:active {
    color: #de268e;
}

footer{
  font-family: 'DM Sans', sans-serif;
  color: #555555;
  font-size: 12px;
  margin-top: 40px;
}
